<div class="login-container card">
    <h2>Inscription</h2>
    <form>
        <div class="form-group">
            <label for="exampleInputNom1">Nom </label>
            <input type="text" class="form-control" placeholder="Tex"
                formControl="registerForm.controls.nom">
            <div class="invalid-feedback">
                Un nom valide est obligatoire.
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPrenom1">Prenom </label>
            <input type="text" class="form-control" placeholder="Jordan"
                formControl="registerForm.controls.prenom">
            <div class="invalid-feedback">
                Un prenom valide est obligatoire.
            </div>
        </div>
        <div class="form-group">
                <label for="exampleInputUsername1">Username </label>
                <input type="text" class="form-control" placeholder="Itachi"
                    formControl="registerForm.controls.username">
                <div class="invalid-feedback">
                    Un pseudo valide est obligatoire.
                </div>
            </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email </label>
            <input type="email" class="form-control" placeholder="tex@gmail.com"
                formControl="registerForm.controls.email">
            <div class="invalid-feedback">
                Une adresse email valide est obligatoire.
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" class="form-control" autocomplete="on"
                formControl="registerForm.controls.password" />
            <div class="invalid-feedback">
                Le mot de passe est obligatoire.
            </div>
        </div>
        <button class="btn btn-primary" (click)="submitRegister()">S'inscrire</button>
    </form>
</div>