<!-- Details message -->
<h1>La liste de message</h1>

<!-- Pour chaque message j'affiche son contenu -->
<mat-accordion class="full-width">
    <mat-expansion-panel *ngFor="let message of messages">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{message.postedOn}} <br /> Créée par : {{ userPrenom }}
            </mat-panel-title>
            <mat-panel-description>
                <!-- {{message.postedOn}} <br /> Créée par : XXXXXX - Le {{message.content}} -->
                {{message.content}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <p>{{rubrique.description}}</p> -->
        <!-- <button mat-stroked-button color="primary" (click)="onSelect(rubrique)">Afficher les messages</button> -->
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
            (click)="onDelete(message)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab color="accent" class="likeNumber" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
        </button>
        <button mat-stroked-button color="primary" [hidden]="showUpdateForm" (click)="showUpdateForm = true ">Modifier la rubrique </button>
    </mat-expansion-panel>
</mat-accordion>

<!-- Ajout du bout boutton + -->

<div class="btn-container" [hidden]="showAddForm">
    <button mat-fab color="primary" class="add-btn" (click)="showAddForm = true">
        <mat-icon>add</mat-icon>
    </button>
</div>

<!-- Partie du formulaire cahcé -->

<mat-card class="form-container" [hidden]="!showAddForm">
    <form>
        <mat-form-field class="full-width">
            <mat-label>Contenu de du message</mat-label>
            <input matInput placeholder="Contenu du message" [formControl]="messageForm.controls.content">
            <mat-error *ngIf="messageForm.controls.content.hasError('required')">Ce champ est requis</mat-error>
        </mat-form-field>

        <!-- <input type="datetime-local" class="form-control" placeholder="date"
            [ngClass]="{'is-invalid' : messageForm.controls.postedOn.hasError('required')}"
            [formControl]="messageForm.controls.postedOn"> -->

        <button mat-raised-button color="primary" (click)="sendMessage()" >Envoyer</button>
        <button mat-stroked-button color="primary" (click)="showAddForm = false">Annuler</button>
    </form>
</mat-card>

<!-- Modifier un message  -->

<mat-card class="form-container" [hidden]="!showUpdateForm">
        <form>
            <mat-form-field class="full-width">
                <mat-label>Contenu de du message</mat-label>
                <input matInput placeholder="Contenu du message" [formControl]="messageForm.controls.content">
                <mat-error *ngIf="messageForm.controls.content.hasError('required')">Ce champ est requis</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="updateMessage()" >Modifier</button>
            <button mat-stroked-button color="primary" (click)="showUpdateForm = false">Annuler</button>
        </form>
    </mat-card>



<!-- Ancienne version -->


<!-- <li class="list-group-item" *ngFor="let message of messages" (click)="onSelect(message)">
                {{message.content}} {{message.postedOn}}
            </li> -->


<!-- <input type="text" class="form-control" placeholder="nouveau message"
            [ngClass]="{'is-invalid' : messageForm.controls.content.hasError('required')}"
            [formControl]="messageForm.controls.content">
        <button class="btn btn-primary" (click)="sendMessage()">Envoyer</button>
    </div> -->
<!-- <input [(ngModel)]="message.content" placeholder="nouveau message"/>
<button  [routerLink]="['/message']" routerLinkActive="router-link-active">Details</button> -->