.full-width {
    width: 100%;
}

.form-container {
    margin-top: 30px;
    margin-bottom: 5px;
}

.form-container .mat-button-base {
    margin: 5px;
}

.btn-container {
    position: relative;
    height: 40px;
}

.btn-container .add-btn {
    position: absolute;
    right: 0px;
    top: 10px;
}
.mat-stroked-button{
    /* margin: 1em; */
    margin: 5px;
    
}
.rubriqueCreate{
    text-align: left;
}

/* .form-container{
    margin-bottom: 5px;
} */