<h2>La liste des rubriques</h2>

<!-- La liste des rubruqes -->

<mat-accordion class="full-width">
    <mat-expansion-panel *ngFor="let rubrique of rubriques">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{rubrique.title | uppercase}}
            </mat-panel-title>
            <mat-panel-description class="rubriqueCreate">
                {{rubrique.content}} <br /> Créée par : {{ userPrenom }} - Le {{rubrique.postedOn}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{rubrique.description}}</p>
        <!-- Je redirige ici le composant de mseeage correspondant -->
        <button mat-stroked-button color="primary" (click)="onSelect(rubrique)">Afficher les messages</button>

        <button mat-stroked-button color="primary" (click)="onDelete(rubrique)">Supprimer la rubrique </button>

        <!-- <button mat-stroked-button color="primary"  (click)="onUpdate(rubrique)">Modifier la rubrique </button> -->

            <button mat-stroked-button color="primary" [hidden]="showUpdateForm" (click)="showUpdateForm = true ">Modifier la rubrique </button>


    </mat-expansion-panel>
</mat-accordion>

<!-- Ajout du bout boutton + -->

<div class="btn-container" [hidden]="showAddForm">
    <button mat-fab color="primary" class="add-btn" (click)="showAddForm = true">
        <mat-icon>add</mat-icon>
    </button>
</div>

<!-- Partie du formulaire cahcé -->
<mat-card class="form-container" [hidden]="!showAddForm">
    <form>
        <mat-form-field class="full-width">
            <mat-label>Titre de la rubrique</mat-label>
            <input matInput placeholder="Titre de la rubrique" [formControl]="rubriqueForm.controls.title">
            <mat-error *ngIf="rubriqueForm.controls.title.hasError('required')">Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Description de la rubrique</mat-label>
            <input matInput placeholder="Description de la rubrique" [formControl]="rubriqueForm.controls.description">
            <mat-error *ngIf="rubriqueForm.controls.description.hasError('required')">Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Contenu de la rubrique</mat-label>
            <input matInput placeholder="Contenu de la rubrique" [formControl]="rubriqueForm.controls.content">
            <mat-error *ngIf="rubriqueForm.controls.content.hasError('required')">Ce champ est requis</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="sendRubrique()">Ajouter</button>
        <button mat-stroked-button color="primary" (click)="showAddForm = false">Annuler</button>
    </form>
</mat-card>

<!-- Formulaire de modification  -->
<mat-card class="form-container" [hidden]="!showUpdateForm">
        <form>
            <mat-form-field class="full-width">
                <mat-label>Titre de la rubrique</mat-label>
                <input matInput placeholder="Titre de la rubrique" [formControl]="rubriqueForm.controls.title">
                <mat-error *ngIf="rubriqueForm.controls.title.hasError('required')">Ce champ est requis</mat-error>
            </mat-form-field>
    
            <mat-form-field class="full-width">
                <mat-label>Description de la rubrique</mat-label>
                <input matInput placeholder="Description de la rubrique" [formControl]="rubriqueForm.controls.description">
                <mat-error *ngIf="rubriqueForm.controls.description.hasError('required')">Ce champ est requis</mat-error>
            </mat-form-field>
    
            <mat-form-field class="full-width">
                <mat-label>Contenu de la rubrique</mat-label>
                <input matInput placeholder="Contenu de la rubrique" [formControl]="rubriqueForm.controls.content">
                <mat-error *ngIf="rubriqueForm.controls.content.hasError('required')">Ce champ est requis</mat-error>
            </mat-form-field>
    
            <button mat-raised-button color="primary" (click)="onUpdate()">Ajouter</button>
            <button mat-stroked-button color="primary" (click)="showUpdateForm = false">Annuler</button>
        </form>
    </mat-card>







<!-- Ajout de la fonction pour rediriger sur la rubrique selectionner -->
<!--
  <li class="list-group-item">
        <h4>Ceci est dans RubriqueComponent</h4>
        <li *ngFor="let rubrique of rubriques"
[class.selected]="rubrique === selectedRubrique"
(click)="onSelect(rubrique)">
<span class="badge">{{rubrique.content  | uppercase}}</span> {{rubrique.postedOn}} {{rubrique.title}} {{rubrique.description}}
</li> -->