
<div class="container">  

    <h1> Politique de cookies </h1>
    <p> Dernière mise à jour: 25 janvier 2021 </p>
    <p> Cette politique de cookies explique ce que sont les cookies et comment nous les utilisons. Vous devez lire cette politique afin de comprendre quel type de cookies nous utilisons ou les informations que nous collectons à l'aide de cookies et comment ces informations sont utilisées. Cette politique de cookies a été créée à l'aide du <a href="https://www.privacypolicies.com/cookies-policy-generator/" target="_blank"> générateur de politique de cookies </a>. </p >
    <p> Les cookies ne contiennent généralement aucune information permettant d'identifier personnellement un utilisateur, mais les informations personnelles que nous stockons à votre sujet peuvent être liées aux informations stockées et obtenues à partir des cookies. Pour plus d'informations sur la manière dont nous utilisons, stockons et gardons vos données personnelles en sécurité, consultez notre politique de confidentialité. </p>
    <p> Nous ne stockons pas d'informations personnelles sensibles, telles que les adresses postales, les mots de passe de compte, etc. dans les cookies que nous utilisons. </p>
    <h1> Interprétation et définitions </h1>
    <h2> Interprétation </h2>
    <p> Les mots dont la lettre initiale est en majuscule ont des significations définies dans les conditions suivantes. Les définitions suivantes auront la même signification, qu’elles apparaissent au singulier ou au pluriel. </p>
    <h2> Définitions </h2>
    <p> Aux fins de cette politique de cookies: </p>
    <ul>
        <li> <strong> Société </strong> (dénommée soit "la Société", "Nous", "Nous" ou "Notre" dans la présente politique de cookies) fait référence à AirPur. </li>
        <li> Les <strong> cookies </strong> désignent de petits fichiers placés sur votre ordinateur, appareil mobile ou tout autre appareil par un site Web, contenant les détails de votre historique de navigation sur ce site Web parmi ses nombreuses utilisations. </li>
        <li> <strong> Site Web </strong> fait référence à AirPur, accessible depuis <a href="http://airPur.fr" rel="external nofollow noopener" target="_blank"> http://airPur.fr </a> </li>
        <li> <strong> Vous </strong> désigne la personne qui accède ou utilise le site Web, ou une entreprise ou toute entité juridique au nom de laquelle cette personne accède ou utilise le site Web, selon le cas. </li>
        </ul>
        <h1> L'utilisation des cookies </h1>
        <h2> Type de cookies que nous utilisons </h2>
        <p> Les cookies peuvent être & quot; persistants & quot; ou & quot; Session & quot; Biscuits. Les cookies persistants restent sur votre ordinateur personnel ou appareil mobile lorsque vous vous déconnectez, tandis que les cookies de session sont supprimés dès que vous fermez votre navigateur Web. </p>
        <p> Nous utilisons à la fois des cookies de session et des cookies persistants aux fins décrites ci-dessous: </p>
        <ul>
        <li>
        <p> <strong> Cookies nécessaires / essentiels </strong> </p>
        <p> Type: cookies de session </p>
        <p> Administré par: Nous </p>
        <p> Objectif: ces cookies sont essentiels pour vous fournir les services disponibles sur le site Web et pour vous permettre d'utiliser certaines de ses fonctionnalités. Ils aident à authentifier les utilisateurs et à empêcher l'utilisation frauduleuse des comptes d'utilisateurs. Sans ces cookies, les services que vous avez demandés ne peuvent pas être fournis, et nous n'utilisons ces cookies que pour vous fournir ces services. </p>
        </li>
        <li>
        <p> <strong> Cookies de fonctionnalité </strong> </p>
        <p> Type: cookies persistants </p>
        <p> Administré par: Nous </p>
        <p> Objectif: ces cookies nous permettent de nous souvenir des choix que vous faites lorsque vous utilisez le site Web, tels que la mémorisation de vos informations de connexion ou de votre préférence de langue. Le but de ces cookies est de vous offrir une expérience plus personnelle et de vous éviter d'avoir à ressaisir vos préférences chaque fois que vous utilisez le site Web. </p>
        </li>
        </ul>
        <h2> Vos choix concernant les cookies </h2>
        <p> Si vous préférez éviter l'utilisation de cookies sur le site Web, vous devez d'abord désactiver l'utilisation des cookies dans votre navigateur, puis supprimer les cookies enregistrés dans votre navigateur associé à ce site Web. Vous pouvez utiliser cette option pour empêcher l'utilisation de cookies à tout moment. </p>
        <p> Si vous n'acceptez pas nos cookies, vous pouvez rencontrer des inconvénients lors de votre utilisation du site Web et certaines fonctionnalités peuvent ne pas fonctionner correctement. </p>
        <p> Si vous souhaitez supprimer les cookies ou demander à votre navigateur Web de supprimer ou de refuser les cookies, veuillez visiter les pages d'aide de votre navigateur Web. </p>
        <ul>
        <li>
        <p> Pour le navigateur Web Chrome, veuillez visiter cette page de Google: <a href="https://support.google.com/accounts/answer/32050" rel="external nofollow noopener" target="_blank"> https://support.google.com/accounts/answer/32050 </a> </p>
        </li>
        <li>
        <p> Pour le navigateur Web Internet Explorer, veuillez visiter cette page de Microsoft: <a href="http://support.microsoft.com/kb/278835" rel="external nofollow noopener" target="_blank"> http : //support.microsoft.com/kb/278835 </a> </p>
        </li>
        <li>
        <p> Pour le navigateur Web Firefox, veuillez visiter cette page de Mozilla: <a href = "https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" rel = "external nofollow noopener" target = "_blank"> https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored </a> </p>
        </li>
    </ul>
</div>