<ng-container *ngIf="relevesPolluants.length != 0">
  <mat-card class="example-card" style="height: 100%">
    <mat-card-header>
      <mat-card-title
        >Station: {{ relevesPolluants[0].nomStation }}</mat-card-title
      >
      <mat-card-subtitle
        >Ville: {{ relevesPolluants[0].nomCommune }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Valeur</th>
            <th scope="col">Date début</th>
            <th scope="col">Date fin</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let polluant of relevesPolluants; index as i"
           
          >
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ polluant.nom }}</td>
              <td>{{ polluant.valeur }}</td>
              <td>{{ polluant.dateDebut | date:'d MMM YYYY' }} à {{ polluant.dateDebut | date:'hh:mm' }}</td>
              <td>{{ polluant.dateFin | date:'d MMM YYYY' }} à {{ polluant.dateFin | date:'hh:mm' }}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="relevesMeteo != null">
            <h2>Informations météorologique du:  {{ relevesMeteo.date | date:'d MMM YYYY' }} à {{ relevesMeteo.date | date:'hh:mm' }}</h2>
            <p> Vitesse moyenne du vent: {{ relevesMeteo.vitesseMoyVent }}</p>
            <p> Le cumul de la pluie: {{ relevesMeteo.cumulPluie }}</p>
            <p> La temperature au sol: {{ relevesMeteo.tempatureSol }}</p>
          </ng-container>
        </tbody>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ajouter en favoris</button>
      <button mat-button>Voir l'historique des informations</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table> -->
