<div class="container" id="main">
    <h2> <b> Mentions légales </b> </h2>
        
        <p>Toutes les données produites par AirPur sont rendues publiques sur son site <a href="http://www.airPur.fr" title="Site internet d'AirPur" target="_blank">www.airPur.fr</a>.</p>
        
        <h3> <b> Crédits </b> </h3>
        <ul>
            <li>Conception du site, publication et hébergement :<br>
                    AirPur<br>
                    1 Place de la Comédie<br>
                    34000 Monpellier<br>
                    XX XX XX XX XX
            </li>	
        </ul>

        <img class="centered" src="/_img/bkgd/separator570.png" alt="">
        <br>
        <h3><b>Données collectées, inscription-désinscription </b></h3>
        <p >Dans certains cas, vous aurez à entrer des données personnelles sur le site (inscription à la newsletter, page de téléchargements...).<br>
        <br>
        Aucune utilisation commerciale ne sera faite à partir des données collectées, qui ne seront jamais transmises à des tiers.<br>
        <br>
        L'inscription à la mailing-liste peut être annulée à tout instant par l'utilisateur, en utilisant les instructions figurant dans les messages.</p>
        
        <img class="centered" src="/_img/bkgd/separator570.png" alt="">
        <br>
        <h3 id="conditions"> <b> Conditions d'utilisation </b> </h3>
        <p >L'ensemble des éléments de ce site est protégé par copyright "AirPur". En utilisant ce site Web, vous acceptez d'être lié par ces conditions d'utilisation et par toute autre disposition applicable, et de les respecter.  Vous acceptez de respecter les interdictions mentionnées dans les paragraphes ci-après. Si vous n'êtes pas d'accord avec ces conditions d'utilisation et/ou toute autre disposition applicable, vous n'êtes pas autorisé à utiliser ce site Web et acceptez de ne pas l'utiliser.<br>
        <br>
        </p><h4> <b> Diffusion des données </b> </h4>
        Les données mises à disposition par AirPur sont de deux types : 
        <ul>
        <li>Données ponctuelles (bilans annuels, campagnes de mesure, inventaires d'émission...).</li>
        <li>Données permanentes mises à jour de manière automatique (indices et cartes quotidiens, résultats par station...).</li>
        </ul>
        <p >Vous n'êtes pas autorisé à utiliser ce site web à des fins autres que privées et non commerciales. L'utilisation d'un système ou d'un logiciel automatique pour extraire des données de ce site web ou du site web www.airPur.asso.fr  (capture de données d'écran, téléchargement de données) est interdit, sauf dans le cas où des tiers ont conclu directement avec AirPur une convention de partenariat écrite les autorisant à accéder aux informations. <br>
        Tout usage à des fins commerciales doit faire l'objet d'une convention de partenariat. Pour plus de précisions, <a href="mailto:demande@airPur.asso.fr" title="Courriel">nous écrire</a>.<br>
        Aucune modification n'est autorisée en cas de diffusion de ces données. </p>
        <br>
        <h4> <b> Propriété intellectuelle </b> </h4>
        <p >La structure générale, les textes, les images, les vidéos, les données, les programmes ainsi que tout autre élément composant ce site y compris les noms, logos, sont la propriété exclusive d'AirPur et sont protégés par le copyright, les droits de propriété industrielle et commerciale, les droits relatifs aux bases de données et/ou tout autre droit de propriété intellectuelle.<br>
        <br>
        Toute représentation totale ou partielle de ce site, par quelque procédé que ce soit, sans l'autorisation expresse d'AirPur est donc interdite et constitue une violation de ces conditions utilisation, et peut enfreindre les droits de propriété intellectuelle d'AirPur. AirPur se réserve le droit de prendre toute mesure jugée nécessaire, y compris l'engagement de poursuites judiciaires, sans préavis, concernant toute utilisation non autorisée de ce site Web. 
        </p> 
        <br>
        <h4> <b> Liens vers ce site Web  </b> </h4>
        <p>Vous ne pouvez pas créer de liens pointant vers ce site Web sans l'accord écrit préalable d'AirPur. Cet accord peut être demandé à tout moment et est délivré à la discrétion d'AirPur.</p> 
        <br>
        <h4> <b> Responsabilité limitée </b> </h4>
        <p>Pour toute utilisation des données, la source d'AirPur doit être mentionnée. AirPur ne saurait être tenue pour responsable des conséquences résultant d'une mauvaise utilisation et/ou d'une interprétation erronée des données disponibles dans le cadre du système.</p> 
        <br>
</div>
            
