<div class="d-flex justify-content-center  jumbotron d-flex align-items-center fill" id="container">
    <div class="login-container card">

        <div class="text-center">
            <h2> Mon Compte</h2>
        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email </label>
                <input type="email" class="form-control"
                    [ngClass]="{'is-invalid' : profilForm.controls.email.hasError('required') || profilForm.controls.email.hasError('pattern')}"
                    [formControl]="profilForm.controls.email">

                <div class="invalid-feedback">
                    Une adresse email valide est obligatoire.
                </div>
            </div>
            <!-- Trouver le mot de passe de l'utilisateur -->
            <div class="form-group">
                <label for="exampleInputPassword1">Nouveau mot de passe</label>
                <input type="password" class="form-control" placeholder="Password"
                    [ngClass]="{'is-invalid' : profilForm.controls.password.hasError('required')}"
                    [formControl]="profilForm.controls.password" />

                <div class="invalid-feedback">
                    Le mot de passe est obligatoire.
                </div>
            </div>
            <!-- Update le mot de passe de l'utilisateur -->
            <div class="form-group">
                <label for="exampleInputPassword1">Confirmer Nouveau Mot de passe</label>
                <input type="password" class="form-control" placeholder="Password"
                    [ngClass]="{'is-invalid' : profilForm.controls.password.hasError('required')}"
                    [formControl]="profilForm.controls.password" />

                <div class="invalid-feedback">
                    Le mot de passe est obligatoire.
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary" (click)="submitChange()">S'inscrire</button>
            </div>
        </form>
    </div>
</div>