<!-- DIV QUI LISTE LES NOTIFS SI ADMIN LISTE + BOUTON CREER NOTIF -->
<!-- SI UTILISATEUR LISTE DE NOTIFS SANS BOUTON CREA -->
<app-create-notif></app-create-notif>
<ng-container *ngIf="notifications.length != 0">
    <div class="contrainer">
        <div class="container" *ngFor="let notif of notifications">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{notif.message}}</mat-card-title>
                <mat-card-subtitle>Envoyé par: {{notif.userNameEmetteur}} le {{ notif.dateCreation | date:'d/MM/yyyy' }} à {{ notif.dateCreation | date:'hh:mm' }}</mat-card-subtitle>
              </mat-card-header>
        </div>


    </div>
</ng-container>
